# KiCad

*.bak
*.kicad_pcb-bak
*.bck

# STM32CubeIDE
firmware/Sound-20D01MB_MCU/Debug/
firmware/Sound-20D01MB_Player/Debug/

# Others
*.zip
/software/sound-20d01-fs/build/
/software/sound-20d01-fs/dist/